<p class="animated fadeIn fast">Sobre Commic App</p>
<hr>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean luctus metus neque, vitae lacinia diam blandit ornare. Ut euismod nunc vel eros luctus, vitae auctor dolor aliquet. Phasellus sit amet nunc at risus condimentum sagittis. Nulla at mi finibus,
    auctor velit sit amet, suscipit nunc. Phasellus non ligula eu tortor vestibulum tincidunt quis sed mi. Mauris id metus et eros cursus scelerisque. Vivamus justo nisi, ullamcorper rutrum rhoncus et, porta a nulla. Nullam ut ornare tortor. Nunc sit
    amet turpis odio. Nam egestas felis orci, et convallis purus ultricies ac. Aliquam sem velit, finibus vitae diam vel, aliquam sodales augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
</p>